/*style toutes pages*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: italic 1em "Fira Sans", serif;
}

.titre {
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding-right: 40px;
    text-align: 40px;
    list-style-type: none;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.boutton {
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0;
    background-color: transparent;
    border: 1px solid transparent;
    transition: border-color .3s;
}

.boutton:hover {
    border-color: black;
    border-radius: 5px;
}

/*style connexion*/
section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.formWrapper .card {
    width: 360px;
    padding: 20px;
    background-color: rgba(0 0 0 /35%);
}

.cardHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0;
    font-size: 1.1rem;
    color: #94f7e6;
    box-shadow: 2px 3px 8px black;
    border-radius: 50px;
}

.cardHeader .formHeader {
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}


footer {
    margin: 10px;
    padding: 10px;
    font-weight: 600;
    height: 100px;
    width: 100%;
}

/*style index*/
.contenaire {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(4, 73, 4);
}


.indexT {
    color: aliceblue;
    height: 100%;
}

/*style galerie*/
.categories {
    display: flex;
    flex-wrap: wrap;
}

.categorie {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
}

/*style tarif et presta*/
.tarifs {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.tarif {
    height: 300px;
    width: 200px;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(103, 103, 103);
    margin: 3px;
    padding: 3px;
    text-align: justify;
}

.cartH2 {
    text-align: center;
    margin: 5px;
    font-size: 1.2rem;
}

.prix {
    margin: 5px;
    text-align: center;
}

.description {
    margin: 5px;
    text-align: justify;
    align-items: center;
}


/*style contact*/
.contacter {
    margin: 5px;
    padding: 5px;
}

.check {
    display: flex;
    flex-direction: column;
}

.boutton {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}