/*style toute page*/
* {
    margin: 0;
    padding: 0;
    font: italic 1em "Fira Sans", serif;
}

.titre {
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
}

.navigation {
    margin: 10px;
    padding: 20px;
    font-weight: 600;
    height: 100px;
    width: 100%;
    cursor: pointer;
    color: blue;
    text-decoration: none;
}

footer {
    margin: 10px;
    padding: 10px;
    font-weight: 600;
    height: 100px;
    width: 100%;
}

/*style index*/


/*style coter galerie*/
.categories {
    display: flex;
    flex-wrap: wrap;
}

.categorie {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
}

/*style coter tarif et presta*/
.tarifs {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.tarif {
    height: 300px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    text-align: justify;
}

.h2 {
    text-align: center;
    margin: 5px;
    font-size: 1.2rem;
}

button {
    display: flex;
    -ms-flex-align: end;
}

/*style coter contact*/