/*style toutes pages*/
* {
    margin: 0;
    padding: 0;
    font: italic 1em "Fira Sans", serif;
}

.titre {
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 10px;
    font-size: xx-large;
}

.navigation {
    padding: 20px;
    font-weight: 600;
    height: 50px;
    width: 100%;
    cursor: pointer;
    color: blue;
    text-decoration: none;
    font-size: 1.2rem;
}

footer {
    margin: 10px;
    padding: 10px;
    font-weight: 600;
    height: 100px;
    width: 100%;
}

/*style index*/
.indexn {
    background-color: rgb(4, 80, 4);
}

.indexT {
    background-color: rgb(4, 73, 4);
    color: aliceblue;
    height: 100%;
}

/*style galerie*/
.categories {
    display: flex;
    flex-wrap: wrap;
}

.categorie {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
}

/*style tarif et presta*/
.tarifs {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.tarif {
    height: 300px;
    width: 200px;
    border: 1px solid rgb(228, 227, 227);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(103, 103, 103);
    margin: 3px;
    padding: 3px;
    text-align: justify;
}

.cartH2 {
    text-align: center;
    margin: 5px;
    font-size: 1.2rem;
}

.prix {
    margin: 5px;
    text-align: center;
}

.description {
    margin: 5px;
    text-align: justify;
    align-items: center;
}


/*style contact*/
.contacter {
    margin: 5px;
    padding: 5px;
}

.check {
    display: flex;
    flex-direction: column;
}

.boutton {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}